@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
#about_me_section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  flex-wrap: wrap;
}
h2 {
  font-size: 60px;
}
.about_me_container {
  width: 80%;
}
.about_me_container p {
  text-align: justify;
  line-height: 175%;
  padding: 1%;
}
@media(max-width: 800px){
  #about_me_section {
    padding: 20px 0;
  }
  #about_me_section h2 {
    text-align: center;
    font-size: 12vw;
  }
}
